<html>
	<head>
		<style>
			table,
			th,
			td {
				/* border: 1px solid black; */
				border-collapse: collapse;
				margin-bottom: 100px;
			}
			
			th,
			td {
				padding: 20px;
				height: 80%;
			}
			td{
				width: 5%;
			}
			a{
				text-decoration: none;
				font-weight: 1000;
				font-size: 1.3rem;
			}
		</style>
	</head>
<body>

<table style="width:100%">
	{% for k in list %}
	<tr>
		{% for i,j,val,c in k %}
			{% if c == '0' and val == 'Enter'%}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:black;opacity: 0.3">{{ val }}</a></td>
			{% elif c == '2' %}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:green">{{ val }}</a></td>
			{% elif c == '1' %}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:red">{{ val }}</a></td>
			{% else %}
			<td >{{ val }}</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<table style="width:100%">
	{% for k in list2 %}
	<tr>
		{% for i,j,val,c in k %}
			{% if c == '0' and val == 'Enter'%}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:black;opacity: 0.3">{{ val }}</a></td>
			{% elif c == '2' %}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:green">{{ val }}</a></td>
			{% elif c == '1' %}
				<td style="border: 1px solid black"><a href="update/{{ i }}/{{ j }}" style="color:red">{{ val }}</a></td>
			{% else %}
			<td >{{ val }}</td>
			{% endif %}
		{% endfor %}
	</tr>
	{% endfor %}

	
	
</table>



</body>
</html>        